<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>罪名预测</title>
        <link href="../static/css/style-munu.css" rel="stylesheet" type="text/css"/>
        
    </head>
    
    
    <body>
   

        <div class="cloud-content" style=" overflow-y:auto; overflow-x:auto; width:auto; height:auto;">
        
            <div class="cloud-header" >
       
                <h3>
                    <em style="font-size:70px; font-weight:bold; font-family:'Times New Roman', Times, serif;  color: #000000;">罪名预测平台</em>
                    <span>以罪名为核心,收集相关数据,建成基本的罪名知识图谱,法务资讯对话知识库,案由量刑知识库.</span>
                </h3>
                <br>
                <br>
                <br>
                <br>
                <br>
                <div class="cloud-wrapper clearfix">
                    <a href="http://127.0.0.1:5000/predictions/prediction/crimclass" target="_blank" class="cloud-card">
                        <div class="cloud-card-image">
                            <div class="cloud-scale cloud-card-image-back"></div>
                            <div class="cloud-card-image-title">罪名预测模型</div>
                        </div>
                        <div class="cloud-card-text">输入关键的信息，能够预测罪名</div>
                    </a>
                    <a href="http://127.0.0.1:5000/recomments/recomment"target="_blank" class="cloud-card">
                        <div class="cloud-card-image">
                            <div class="cloud-scale cloud-card-image-back01"></div>
                            <div class="cloud-card-image-title">法务咨询</div>
                        </div>
                        <div class="cloud-card-text">输入想要咨询的法务关键字，系统会根据输入的内容进行回答。</div>
                    </a>
                    <a href="http://127.0.0.1:5000/statistics/dstatistic" target="_blank"class="cloud-card">
                        <div class="cloud-card-image">
                            <div class="cloud-scale cloud-card-image-back02"></div>
                            <div class="cloud-card-image-title">法务咨询自动问答服务</div>
                        </div>
                        <div class="cloud-card-text">输入想要咨询的法务关键字，系统会根据输入的内容进行自动回答</div>
                    </a>
                    <a href="http://localhost:8083/dachuang/%E4%B8%BB%E9%A1%B5%E9%9D%A2/fanyi.jsp" target="_blank" class="cloud-card">
                        <div class="cloud-card-image">
                            <div class="cloud-scale cloud-card-image-back03"></div>
                            <div class="cloud-card-image-title">罪行知识图谱的知识查询</div>
                        </div>
                        <div class="cloud-card-text">输入关键的信息，会查询出知识图谱的罪行</div>
                    </a>
                </div>
            </div>
            <br>
                <br>
                <br>
        </div>
        <br>
        <br>
        <br>
        <footer class="footer mt-20"></footer>
        <div style="text-align: center;font-size:20px;font-family:'Times New Roman', Times, serif;;min-width:920px;background-color: white; background-size:cover; height:200px;" >
            <span class="txt"><a target="_blank" href="https://splcgk.court.gov.cn/gzfwww/" style="color:blue">|自然语言信息平台|</a>
                    <a target="_blank" href="http://govinfo.nlc.cn/lmzz/" style="color:blue">中国政府公开信息整合服务平台|</a>
                    <a target="_blank" href="http://cjdh.court.gov.cn" style="color:blue">最高人民法院服务人民群众系统场景导航|</a>
                    <br>
                    <a target="_blank" href="http://shixin.court.gov.cn" style="color:blue">|中国执行信息公开网|</a>
            </span>
            <br>
           <br>
           <br>
           <br>

        </div>
    </body>
    
    
</html>
