<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>主页</title>
        <link href="../static/css/style-munu.css" rel="stylesheet" type="text/css"/>
        
    </head>
    
    
    <body>
   

        <div class="cloud-content" style=" overflow-y:auto; overflow-x:auto; width:auto; height:auto;">
        
            <div class="cloud-header" >
       
                <h3>
                    <em style="font-size:70px; font-weight:bold; font-family:'Times New Roman', Times, serif;  color: #000000;">法律信息挖掘智能服务平台</em>
                    <span>挖掘法律文书中有价值的信息，提供知识智能辅助服务</span>
                </h3>
                <br>
                <br>
                <br>
                <br>
                <br>
                <div class="cloud-wrapper clearfix">
                    <a href="http://47.106.183.183:8084/searchs/search" target="_blank" class="cloud-card">
                        <div class="cloud-card-image">
                            <div class="cloud-scale cloud-card-image-back"></div>
                            <div class="cloud-card-image-title">法律要素检索</div>
                        </div>
                        <div class="cloud-card-text">通过您所输入的关键词（包括涉事双方，相关法院和律师以及其他关键词）检索出相关的法律案件。</div>
                    </a>
                    <a href="http://47.106.183.183:8084/recomments/recomment"target="_blank" class="cloud-card">
                        <div class="cloud-card-image">
                            <div class="cloud-scale cloud-card-image-back01"></div>
                            <div class="cloud-card-image-title">相似案件推荐</div>
                        </div>
                        <div class="cloud-card-text">输入案件的详细信息，包括案由、涉事双方、案件类型、法律依据等，查找出与其相类似的案件。</div>
                    </a>
                    <a href="http://47.106.183.183:8084/statistics/dstatistic" target="_blank"class="cloud-card">
                        <div class="cloud-card-image">
                            <div class="cloud-scale cloud-card-image-back02"></div>
                            <div class="cloud-card-image-title">法律案情统计分析</div>
                        </div>
                        <div class="cloud-card-text">根据您的具体要求将法律案件进行统计，以图表及词云的方式将其展现出来。</div>
                    </a>
                    <a href="http://47.106.183.183:8084/predictions/prediction" target="_blank" class="cloud-card">
                        <div class="cloud-card-image">
                            <div class="cloud-scale cloud-card-image-back03"></div>
                            <div class="cloud-card-image-title">罪名预测</div>
                        </div>
                        <div class="cloud-card-text">依据您所输入的案件案情描述，通过深度学习分类模型，预测该案件的罪名。</div>
                    </a>
                </div>
            </div>
            <br>
                <br>
                <br>
        </div>
        <br>
        <br>
        <br>
        <footer class="footer mt-20"></footer>
        <div style="text-align: center;font-size:20px;font-family:'Times New Roman', Times, serif;;min-width:920px;background-color: white; background-size:cover; height:200px;" >
            <span class="txt"><a target="_blank" href="https://splcgk.court.gov.cn/gzfwww/" style="color:blue">|中国审判流程信息公开网|</a>
                    <a target="_blank" href="http://govinfo.nlc.cn/lmzz/" style="color:blue">中国政府公开信息整合服务平台|</a>
                    <a target="_blank" href="http://cjdh.court.gov.cn" style="color:blue">最高人民法院服务人民群众系统场景导航|</a>
                    <br>
                    <a target="_blank" href="http://shixin.court.gov.cn" style="color:blue">|中国执行信息公开网|</a>
            </span>
            <br>
           <br>
           <br>
           <br>
            <span>Copyright © 2020 - 2022 </span>
        </div>
    </body>
    
    
</html>
