<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
  

  <title></title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400"> 
  <link rel="stylesheet" href="../static/css/font-awesome.min.css">
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  
  <link rel="stylesheet" href="../static/css/demo.css" />
  <link rel="stylesheet" href="../static/css/templatemo-style.css">

  
<script type="text/javascript" src="../static/js/modernizr.custom.86080.js"></script>		
</head>

	<body>

			<div id="particles-js"></div>
<!--            ../static/img/2.jpg-->
			<div class="container-fluid" style="background-image:url(../static/img/2.jpg); background-size:cover">
				<div class="row cb-slideshow-text-container ">
					<div  class= "tm-content col-xl-6 col-sm-8 col-xs-8 section" style="position:absolute; margin:auto; left:0; right:0">
					<header class="mb-5">
					  <h1 style="font-size:50px; font-weight:bold; font-family:'Times New Roman', Times, serif;color: white;margin-top:-300px">法律要素检索</h1></header>
            <P class="mb-5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</P>
                                             					
   

							<div>
                  
                <form action="/searchs/search/keyword" method="post" class="subscribe-form">
                  <p style="height:auto;width:auto;float: left" class="form-control">关键字检索</p>
                 <div style="float: left;margin-left:2%">  
                <input onkeypress="if(event.keyCode==13) {submitBtn.click();return false;}" style="width:auto;font-family:'Times New Roman', Times, serif"  class="form-control"  name="keyword" placeholder="请输入案情特征词、案由、要素" >
                 </div>               
                 <div style="float: right;margin-right:350px;">
                  <button type="submit" class="tm-btn-subscribe" style="font-family:'Times New Roman', Times, serif">检索</button>
                </div>
				  			</div>
                            
					   
                            
            </form>              
						
						</div>
                        
                    </form>
                    
					

					</div>
				</div>
           
    
            
</body>


    
    	

	
<script type="text/javascript" src="../static/js/particles.js"></script>
	<script type="text/javascript" src="../static/js/app.js"></script>
</html>











    

	